<div class="bg-white rounded shadow p-4 flex">
    <img src="{{ .book.ImageURL }}" alt="Cover of {{ .book.Title }}" class="h-24 w-auto mr-4 rounded">
    <div>
        <h4 class="font-bold">{{ .book.Title }}</h4>
        <p class="text-gray-600 text-sm">{{ .book.Author }}</p>
        {{ if .book.PublicationYear }}
        <p class="text-gray-500 text-xs">{{ .book.PublicationYear }}</p>
        {{ end }}
        <div class="mt-2">
            {{ if eq .readStatus "read" }}
            <button class="text-xs bg-green-100 hover:bg-green-200 text-green-800 py-1 px-2 rounded"
                   hx-put="/api/books/{{ .book.ID }}"
                   hx-headers='{"Content-Type": "application/json"}'
                   hx-swap="outerHTML"
                   hx-target="closest div"
                   hx-vals='{"Read": false}'>
                Mark as Unread
            </button>
            {{ else }}
            <button class="text-xs bg-indigo-100 hover:bg-indigo-200 text-indigo-800 py-1 px-2 rounded"
                   hx-put="/api/books/{{ .book.ID }}"
                   hx-headers='{"Content-Type": "application/json"}'
                   hx-swap="outerHTML"
                   hx-target="closest div"
                   hx-vals='{"Read": true}'>
                Mark as Read
            </button>
            {{ end }}
        </div>
    </div>
</div>